In [48]:
import pandas as pd

In [49]:
# read raw data and merge them
data_value_path = '../data/raw/Training_Set_Values.csv'
data_label_path = '../data/raw/Training_Set_Labels.csv'
df1 = pd.read_csv(data_value_path)
df2 = pd.read_csv(data_label_path)
merged_pump_data = pd.merge(df1, df2, on="id", how="inner")
merged_pump_data.to_csv('../data/processed/pump_dataset.csv', index = False)

In [50]:
# save filepath to variable for easier access
# this is a raw merged file
#pump_file_path = '../data/processed/pump_dataset.csv'
# this is a merged full file without missed values
pump_file_path = "../data/processed/pump_dataset_full_cleaned.csv"
# read the data and store data in DataFrame titled pomp_data
pump_data = pd.read_csv(pump_file_path) 
# print a summary of the data in water pomp data
pump_data.describe()

,amount_tsh,gps_height,longitude,latitude,region_code,district_code,population,construction_year,year_recorded,month_recorded,dayofweek_recorded,pump_age,location_cluster
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,317.650385,668.297239,35.136692,-5.706033e+00,15.297003,5.629747,179.909983,1996.254495,2011.921667,4.375640,2.939933,15.667172,3.761549
std,2997.574558,693.116350,2.628459,2.946019e+00,17.587406,9.633649,471.482176,10.143783,0.958758,3.029247,1.951627,10.157652,2.820036
min,0.000000,-90.000000,29.219817,-1.164944e+01,1.000000,0.000000,0.000000,1960.000000,2002.000000,1.000000,0.000000,-7.000000,0.000000
25%,0.000000,0.000000,33.249501,-8.540621e+00,5.000000,2.000000,0.000000,1993.000000,2011.000000,2.000000,1.000000,8.000000,1.000000
50%,0.000000,369.000000,35.000424,-5.021597e+00,12.000000,3.000000,25.000000,1996.000000,2012.000000,3.000000,3.000000,15.000000,3.000000
75%,20.000000,1319.250000,37.241238,-3.326156e+00,17.000000,5.000000,215.000000,2004.000000,2013.000000,7.000000,5.000000,19.000000,6.000000
max,350000.000000,2770.000000,40.391390,-2.000000e-08,99.000000,80.000000,30500.000000,2013.000000,2013.000000,12.000000,6.000000,53.000000,9.000000

In [51]:
pump_data.head()

,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,...,source_class,waterpoint_type,waterpoint_type_group,status_group,year_recorded,month_recorded,dayofweek_recorded,funder_installer,pump_age,location_cluster
0,6000.0,roman,1390.0,roman,34.938093,-9.856322,none,Lake Nyasa,roman,Iringa,...,groundwater,communal standpipe,communal standpipe,functional,2011,3,0,roman_roman,12,2
1,0.0,grumeti,1399.0,grumeti,34.698766,-2.147466,Zahanati,Lake Victoria,grumeti,Mara,...,surface,communal standpipe,communal standpipe,functional,2013,3,2,grumeti_grumeti,3,6
2,25.0,lottery club,686.0,world vision,37.460664,-3.821329,Kwa Mahundi,Pangani,lottery club,Manyara,...,surface,communal standpipe multiple,communal standpipe,functional,2013,2,0,lottery club_world vision,4,5
3,0.0,unicef,263.0,unicef,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,unicef,Mtwara,...,groundwater,communal standpipe multiple,communal standpipe,non functional,2013,1,0,unicef_unicef,27,4
4,0.0,action in a,0.0,artisan,31.130847,-1.825359,Shuleni,Lake Victoria,action in a,Kagera,...,surface,communal standpipe,communal standpipe,functional,2011,7,2,action in a_artisan,15,8

In [52]:
# see the list of all columns in the dataset to choose the varieables/co.umns
pump_data.columns

Index(['amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'wpt_name', 'basin', 'subvillage', 'region', 'region_code',
       'district_code', 'lga', 'ward', 'population', 'public_meeting',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group',
       'status_group', 'year_recorded', 'month_recorded', 'dayofweek_recorded',
       'funder_installer', 'pump_age', 'location_cluster'],
      dtype='object')